body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    align-items: center;
    padding: 20px 0;
}

.header-links {
    display: flex;
    gap: 30px; 

}
.header-logo {
    font-size: 24px; 
    color: #F9FAF8;
    font-weight: bold;
}

div a {
    text-decoration: none;
    font-size: 18px;
    color: #acb8d1;
}

img {
    width: 30%;
    border-radius: 8px;
}

.underheader-container {
    display: flex;
    justify-content: center;
    gap: 50px; 
    background-color: #1F2937;
    align-items: center;
    padding: 100px 0;
}

.website-title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
}

.website-title {
    font-size: 45px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-description {
    font-size: 18px;
    color: #bec6d7;
}

.signup-button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 7px 32px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.some-info-header {
    font-size: 36px;
    text-align: center;
    font-weight: 900;
    color: #1F2937; 
    padding: 25px 0;
}

.images-and-text-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.info {
    max-width: 230px; 
    font-size: 18px;
    color: rgb(101, 105, 104); 
}

.info img {
    width: 100%;
    max-height: 75%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.quote-main-container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 50px 0px;
}

.quote-and-signature-container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}
.quotation {
    font-size: 36px;
    font-style: italic;
    color: #4c4d50;
    font-weight: 300;
}

.quote-signature {
    font-weight: bold;
    align-self: flex-end;
    margin-right: 50px;
    font-size: 24px;
}

.action-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 100px 0;
}

.action-main-container {
    background-color: #3882F6;
    border-radius: 8px;
    height: 160px;
    display: flex;
    align-items: center;
    gap: 170px;
    padding: 0 140px;
    
}

.call-to-action {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
    margin-bottom: 5px;
}

.signup-subtext {
    color: #d5d5d5;
    font-size: 18px;
}

.button-container {
    height: 45px;
    display: flex;
    align-items: flex-end;
}

.lowerbutton {
    border: solid white;
}

.footer {
    background-color: #1F2937;
    color: #c4c4c4;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

