body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    align-items: center;
    padding: 20px 0;
}

.header-links {
    display: flex;
    gap: 30px; 

}
.header-logo {
    font-size: 24px; 
    color: #F9FAF8;
    font-weight: bold;
}

div a {
    text-decoration: none;
    font-size: 18px;
    color: #acb8d1;
}

img {
    width: 30%;
    border-radius: 10px;
}

.underheader-container {
  display: flex;
  justify-content: center;
  gap: 50px; 
  background-color: #1F2937;
  align-items: center;
  padding: 100px 0;
}

.website-title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
}

.website-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-description {
    font-size: 18px;
    color: #bec6d7;
}

.signup-button {
    background-color: #3882F6;
    color: white;
    padding: 10px 35px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    
}

.some-info-header {
    font-size: 36px;
    text-align: center;
    font-weight: 900;
    color: #1F2937; 
    padding: 25px 0;
}

.images-and-text-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.info {
    max-width: 150px; 
    font-size: 18px;
    color: rgb(101, 105, 104); 
}

.info img {
width: 100%;
max-height: 70%;
border-radius: 10px;
}